// 页面背景颜色
$bg_page_normal: #F8F8F8;
$bg_page_light: #F8F8F8;

// 容器背景颜色
$bg_container_primary: #FF6C1E;

// 图片背景颜色
$bg_img_normal:#f4f4f4;

// 按钮背景色
$bg_button_normal: #FF6C1E;           // 白色/浅灰
$bg_button_primary: #FF6C1E;          // 主色
$bg_button_primary_light: rgba(255, 108, 30, 0.65);          // 主色
$bg_button_info: #FF6C1E;             // 蓝色
$bg_button_success: #FF6C1E;          // 绿色
$bg_button_error: #FF6C1E;            // 红色
$bg_button_warning: #FF6C1E;          // 金色

// 字体颜色
// 标题
$text_title_normal: #333;
$text_title_primary: #333;
// 链接
// 普通
$text_label_primary: #FF6C1E;
$text_label_normal: #0F0600;
$text_label_light: #B7B4B2; // 浅灰
// 输入框
$text_input_normal:#333;
// 输入框占位符
$text_input_placeholder_normal: #D4D4D4;

// 边框颜色
$border_primary: #FF6C1E;
$border_normal: #CFCDCC;

