  <link rel="stylesheet" href="@@webRoot/cdn/web/themes/default/css/fragments/footer.css@@version">
  <footer class="page-footer w1180 mauto">
    <div class="flow-row h90">
      <div class="fl">
        <div class="flow-column h90">
          <a href="/areas/web/pages/index.html" class="img01">
            <img src="@@webRoot/cdn/web/themes/default/media/image/logos/logo01.png@@version" alt="">
          </a>
        </div>
      </div>
      <div class="fr">
        <ul class="flow-row hook01">
          <li class="fl ml44"><a href="/areas/web/pages/position.html" class="text-label-normal-sm">加入我们</a></li>
          <li class="fl ml44"><a href="javascript:showHook02()" class="text-label-normal-sm">联系我们</a></li>
          <li class="fl ml44"><a href="" class="text-label-normal-sm">佳兆业集团</a></li>
          <li class="fl ml44"><a href="" class="text-label-normal-sm">佳兆业文体集团</a></li>
          <li class="fl ml44"><a href="" class="text-label-normal-sm">佳兆业财富管理集团</a></li>
        </ul>
      </div>
    </div>
    <div class="tac">
      <span class="text-label-light-xs">Copyright&nbsp;©&nbsp;2019&nbsp;佳兆业教育集团&emsp;All&nbsp;Rights&nbsp;Reserved</span>
      <span class="text-label-light-xs">&emsp;&emsp;&emsp;&emsp;粤ICP备XXXXXXXX号</span>
    </div>
    <div class="h36"></div>
    <div class="hook02 w540 p48">
      <div class="img02">
        <img src="@@webRoot/cdn/web/themes/default/media/image/icons/close01.png@@version" alt="" onclick="hideHook02()">
      </div>
      <div class="pt32">
        <div class="text-title-normal-lg">佳兆业教育集团</div>
        <div class="text-label-light-sm pt24 hook03">佳兆业教育集团介绍佳兆业教育集团介绍，佳兆业教育集团介绍，佳兆业教育集团介绍佳兆业教育集团介绍，佳兆业教育集团介绍，佳兆业教育集团介绍佳兆业教育集团介绍，佳兆业教育集团介绍佳兆业教育集团介绍，佳兆业教育集团介绍佳兆业教育集团介绍，佳兆业教育集团介绍，佳兆业教育集团介绍佳兆业教育集团介绍，佳兆业教育集团介绍佳兆业教育集团介绍，佳兆业教育集团介绍佳兆业教育集团介绍，佳兆业教育集团介绍。</div>
        <div class="text-label-light-sm pt24 hook03">佳兆业教育集团介绍，佳兆业教育集团介绍佳兆业教育集团介绍，佳兆业教育集团介绍佳兆业教育集团介绍，佳兆业教育集团介绍佳兆业教育集团介绍，佳兆业教育集团介绍。</div>
      </div>
      <div class="pt86">
        <div class="text-title-normal-md">联系我们</div>
        <div class="text-label-light-sm pt24">地址：中国广东省深圳市罗湖区南湖路嘉里中心8楼</div>
        <div class="text-label-light-sm pt24">联系电话：0755-0000000</div>        
      </div>
      <div class="pt24">
        <div class="img03"><img src="@@webRoot/cdn/web/themes/default/media/image/qrcode/code01.png@@version" alt=""></div>
        <div class="text-label-light-sm hook04">关注公众号</div>
      </div>
    </div>
  </footer>
  <script src="@@webRoot/cdn/web/themes/default/javascript/fragments/footer.js@@version"></script>
</body>
</html>